<div class="" style="flex: 1">
  <% if (msg.length) { %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <h1>Quản lý Roles</h1>
  <% if (req.can('roles.add')) { %>
  <a href="/roles/add" class="btn btn-primary mb-2">Thêm vai trò</a>
  <% } %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tên</th>
        <th width="5%">Sửa</th>
        <th width="5%">Xóa</th>
      </tr>
    </thead>
    <tbody>
      <% roles.forEach((role) => { %>
      <tr>
        <td><%= role.name %></td>

        <% if (req.can('roles.edit')) { %>
        <td>
          <a href="/roles/edit/<%= role.id %>" class="btn btn-primary">Sửa</a>
        </td>
        <% } %> <% if (req.can('roles.delete')) { %>
        <td>
          <form
            action="/roles/delete/<%= role.id %>"
            method="post"
            onsubmit="return confirm('Bạn có chắc chắn muốn xóa không?')"
          >
            <button class="btn btn-danger">Xóa</button>
          </form>
          <% } %>
        </td>
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>
